<a href="https://colab.research.google.com/github/repezopedro/repezopedro/blob/main/Modulo_4_review_motivacao_EBAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



## REVISITANDO MOTIVAÇÃO - AULA 3 - MODULO 4

In [113]:
#Com base na motivação da aula 3 (módulo 4) , quero acrescentar as seguintes possibilidades:

# 1: definir uma caixa para digitar/testar valor inicial aplicado, taxa de juros e tempo obtendo assim o valor final de retorno do investimento.
# 2: viabilizar um script 'atingir meta'
# 3: salvar resultados de 1 em uma tabela

In [50]:
import pandas as pd
import numpy as np



### 1: Digitar Variáveis

In [101]:
#Input de dados
valor_inicial_novo = float(input('Digite o valor aplicado:  R$'))
taxa_selic_aplicada = float(input('Digite a taxa de juros aplicada (%):  '))
anos = int(input('Digite o número de anos:  '))

Digite o valor aplicado:  R$1000
Digite a taxa de juros aplicada (%):  5.28
Digite o número de anos:  10

In [103]:
def juros_compostos_anual(valor_inicial_novo: float, taxa_selic_aplicada: float, anos: int, valor_final: float) -> float:
  valor_final = valor_inicial_novo
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + (taxa_selic_atual/100))
valor_final = round(valor_final, 2)

#imprimindo resultado
print(f'Para a taxa básica de juros atual igual a {taxa_selic_atual}% e um valor aplicado inicial de R${valor_inicial} em {anos} anos, o retorno será de R${valor_final}')

print('\n')

Para a taxa básica de juros atual igual a 5.28% e um valor aplicado inicial de R$1000 em 10 anos, o retorno será de R$7831.35



### 2: Atingir Meta

In [65]:
#viabilizar um 'atingir meta'

valor_final_desejado = float(input('Digite o valor final desejado:  R$'))
anos_meta = int(input('Digite o número de anos:  '))

Digite o valor final desejado:  R$5000
Digite o número de anos:  4

In [76]:
valor_inicial_necessario = valor_final_desejado / (1 + (taxa_selic_atual/100))**anos_meta
valor_inicial_necessario = round(valor_inicial_necessario, 2)

#formatando os valores para moeda
valor_final_format = "{:,.2f}".format(valor_final_desejado)
valor_inicial_format = "{:,.2f}".format(valor_inicial_necessario)

#imprimindo com valor formatado
print(f'Para atingir o valor final de R${valor_final_format} em {anos_meta} anos, o valor inicial necessário é de R${valor_inicial_format}')

Para atingir o valor final de R$5,000.00 em 4 anos, o valor inicial necessário é de R$4,069.93

### 3: Salvar resultados

In [111]:
#salvando os resultados

#criando um dataframe
df = pd.DataFrame()

#adicionando as colunas
df['Valor Inicial'] = valor_inicial_novo
df['Taxa de Juros'] = taxa_selic_aplicada
df['Anos'] = anos
df['Valor Final'] = valor_final

#salvando o dataframe em um arquivo CSV
df.to_csv('resultados.csv', index=False)

In [112]:
with open(file = 'resultados.csv', mode = 'a', encoding = 'utf8') as fp:
  linha = 'hipótese' + '\n'
  fp.write(linha)
  for n in str(valor_inicial_novo):
    linha = str(n) + '\n'
    fp.write(linha)